<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>main page</title>

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
            text-align: center;
            background: #21262D;
            padding-top: 10rem;
        }
        h1{
            color: #fafafa;
            font-size: 2.5rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
  <h1>Bem vindo, você está foi autenticado e agora está dentro do app.</h1>
</body>
</html>